// colors
$woodsmoke:#09090C;
$white: #FFFFFF;
$silver: #BABABA;
$mid-gray: #09090c;

//gradient
$starship: #F2F452;
$starship-light: #f4f542;
$green-yellow: #B4FD64;
$conifer: #99E942;

// breakpoints
$mobile-width: "(max-width: 375px)";

$desktop-width: "(min-width: 375px)";

// layout

$max-container-width: 1920px;
$gap-container-desktop: 64px;

$gap-container-mobile: 16px;